/* @font-face {
    font-family: po ;
    src: url(f);
} */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Saira:wght@700&display=swap');

:root {
    --primary-color: #b8c9d3;
    --secondary-color: rgb(0, 184, 147);
    --bg-logo-profile:rgb(0, 184, 147,1);
    --gray: #888;
    --bg-primary: #1e272e;
    --bg-navbar: #2c3e50;
    --border-navbar: #555;
    --header-text-shadow: rgba(255, 255, 255, 0.2);
    --logo-color-social: black;
    --btn-primary-color: #333;
    --border-col-2: #333;
    --bg-skills: #081c24;
    --bg-of-skills: #0f0f0f;
    --shadow-skills: #00f4ab0c;
    --bg-services: #0f0f0f;
    --border-portfolio: #888;
    --bg-contactus: #0f0f0f;
    --bg-textarea: #333;
    --bg-footer: #111;
}


/* Start Repeated Classes */
.text-primary {
    color: var(--secondary-color);
}

.btn-primary {
    background-color: var(--secondary-color);
    color: var(--btn-primary-color);
    padding: 8px 20px;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    transition: all 0.35s ease;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #15a076;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
}

img {
    filter: brightness(0.5);

}

/* End Repeated Classes */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-primary);
    color: white;
    font-family: 'Poppins', sans-serif;
}

h1,
h2 {
    font-family: 'Saira', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


/* Header Start */
#home {
    background-color: var(--bg-primary);
    height: 100vh;
}

#home .navbar {
    background-color: var(--bg-navbar);
    border-bottom: 1px solid var(--border-navbar);
    position: fixed;
    width: 100%;
    z-index: 1;
}

#home .navbar nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: auto;
    padding: 1.5rem 2rem;
}

#home #logo {
    color: var(--primary-color);
    font-size: 24px;
    font-weight: 600;
}

#home .navbar nav ul {
    display: flex;
    justify-content: center;
    align-items: center;

}

#home .navbar nav ul a {
    margin: 0 15px;
    color: var(--primary-color);
    font-weight: 600;
}

#home .header-content {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    max-width: 1100px;
    margin: auto;
    height: 100%;
    align-items: center;
    padding: 5rem 2rem 0;
}

#home .header-content .content-text {
    margin-bottom: 5rem;
}


#home .header-content p span {
    font-weight: 700;
    font-size: 20px;
}

#home .header-content h1 {
    font-size: 6opx;
    color: var(--primary-color);
    text-shadow: 3px 3px 3px var(--header-text-shadow);
    margin-top: 10px;
}

#home .header-content .title {
    font-size: 20px;
    color: var(--primary-color);
    margin: 10px 0;
    font-weight: 500;
}

#home .header-content .social {
    margin: 1rem 0 2rem;
}

#home .header-content .social a i {
    font-size: 18px;
    padding: 10px;
    background-color: var(--gray);
    color: var(--logo-color-social);
    border-radius: 50%;
    margin-right: 10px;
    transition: all 0.3s ease;
}

#home .header-content .social a i:hover {
    transform: scale(0.85);
}


#home .header-content img {
    max-width: 450px;
    width: 100%;
    height: auto;
    display: block;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    top: 47vh;
    left: 19.1%;

    margin: 0 auto;
    background-color: #20c997;
    border-radius: 10px;
    box-shadow: 1px 1px 1px red;
    box-sizing: border-box;
    transition: all 1s;
    border: 0.4vh solid transparent;

}





/* Header End */

/* About Start */

#about,
#skills,
#services,
#portfolio {
    padding: 6rem 0;
}

#about h2,
#skills h2,
#services h2,
#portfolio h2,
#contact h2 {
    text-align: center;
    font-size: 38px;
    color: var(--primary-color);
    font-weight: 600;
    letter-spacing: 1px;
}

#about hr,
#skills hr,
#services hr,
#portfolio hr {
    width: 100px;
    height: 3px;
    background-color: var(--secondary-color);
    border: none;
    margin: 5px auto 0;
}

#about .about-content {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 4rem;
    /* display: flex;
    justify-content: space-between;
    gap: 10px; */
}

#about .about-content .col-1 h3 {
    font-size: 28px;
    color: var(--primary-color);
    margin-bottom: 20px;
}

#about .about-content .col-1 p {
    color: var(--gray);
    margin-bottom: 20px;
    line-height: 1.8;
}

#about .about-content .col-2 p {
    color: var(--gray);
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--border-col-2);
}

/* About End */

/* Skills Start */

#skills {
    background-color: var(--primary-color);
}

#skills h2,
#portfolio h2 {
    color: var(--bg-navbar);
    font-family: 'Poppins', sans-serif;
}

#skills .skills-content {
    margin-top: 2rem;
    background: var(--bg-skills);
}

#skills .skills-content .row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    align-items: center;
}

#skills .skills-content .row .item {
    color: var(--bg-navbar);
    background-color: var(--bg-of-skills);
    margin: 20px;
    padding: 1rem;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    transition: all 0.3s ease;
}

#skills .skills-content .row .item:hover {
    box-shadow: 10px 10px 10px var(--shadow-skills);
}

#skills .skills-content .row .item:nth-child(3) img {
    max-width: 40px;
}

#skills .row img {
    max-width: 40px;
}

/* Skills End */

/* Services Start */
#services,
#contact {
    background: var(--bg-services);
}

#services .heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

#services .heading img {
    width: 55px;
    margin-right: 10px;
}

#services .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 4rem;
    text-align: center;
    column-gap: 2rem;
    row-gap: 4rem;
}

#services .row .item {
    background-color: var(--logo-color-social);
    padding: 30px 15px;
    box-shadow: 2px 2px 5px var(--header-text-shadow);
    border-radius: 5px;
    transition: all 0.3s ease;
}

#services .row .item h3 {
    margin: 15px 0;
    color: var(--primary-color);
}

#services .row .item:hover {
    transform: scale(1.04);
}

#services .row .item p {
    font-size: 14px;
}

#services .row img {
    max-width: 60px;
}

/* Services End */

/* Portfolio Start */
#portfolio {
    background: var(--primary-color);
}

#portfolio .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 4rem;
}

#portfolio .row .item {
    background-color: var(--logo-color-social);
    border-radius: 5px;
    transition: all 0.3s ease;

}

#portfolio .row .item:hover {
    transform: scale(1.03);
}

#portfolio .row .item .item-content {
    padding: 20px 15px 30px;
}

#portfolio .row .item .item-content h3 {
    font-size: 2opx;
    color: var(--primary-color);
    margin-bottom: 10px;
}

#portfolio .row .item .item-content a {
    font-size: 14px;
    color: var(--secondary-color);
    font-weight: 500;
}

#portfolio .row .item img {
    max-width: 100%;
    border-bottom: 2px solid var(--border-portfolio);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}



/* Portfolio End */

/* Contact Start */
#contact {
    padding: 4rem 0;
}

#contact .row {
    margin-top: 4rem;
    display: grid;
    column-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    background: var(--logo-color-social);
    box-shadow: 3px 3px 20px var(--header-text-shadow);
    padding: 2rem 3rem;
    border-radius: 10px;

}

#contact .row input,
#contact .row textarea {
    display: block;
    width: 100%;
    margin: 20px 0px;
    padding: 10px;
    outline: none;
    background-color: var(--bg-contactus);
    border: 1px solid var(--bg-textarea);
    color: var(--gray);
}


#contact .row img {
    max-width: 100%;
}


/* Contact End */

/* Footer Start */
#footer {
    background-color: var(--bg-footer);
    color: var(--logo-color-social);
    padding: 1rem 0;
    text-align: center;
}

#footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

/* Footer End */


/* Tablet  Responsive*/
@media (max-width: 800px) {
    #home .navbar nav {
        display: block;
        text-align: center;
    }

    #home .navbar nav ul {
        margin-top: 20px;
    }

    #home .navbar nav ul a {
        margin: 0 8px;
    }

    #home .header-content {
        grid-template-columns: 1fr;
    }

    #home .header-content .content-text {
        margin-bottom: 0rem;
        margin-top: 5rem;
    }

    #home .header-content h1 {
        font-size: 50px;
        ;
    }

    header .header-content img {
        max-width: 350px;
        margin: auto;
    }

    #about .about-content,
    #contact .row {
        grid-template-columns: 1fr;
        row-gap: 3rem;
    }

    #skills .skills-content .row,
    #services .row,
    #portfolio .row {
        grid-template-columns: repeat(2, 1fr);
    }

    #contact .row img {
        max-width: 350px;
        margin: auto;
    }

    #home .header-content img {
        max-width: 400px;
        margin: auto;
    }

    #home {
        background-color: var(--bg-primary);
        height: 900px;
    }
}

/* Mobile Resposive */
@media (max-width:560px) {
    #home .header-content h1 {
        font-size: 35px;
    }

    #home .header-content p span,
    #home .header-content .title {
        font-size: 16px;
    }

    #home .header-content img {
        margin-top: 2rem;
        margin: auto;
    }

    #about h2,
    #skills h2,
    #services h2,
    #portfolio h2,
    #contact h2 {
        font-size: 30px;
    }

    #about .about-content .col-1 h3 {
        font-size: 20px;
    }

    #skills .skills-content .row,
    #services .row,
    #portfolio .row {
        grid-template-columns: 1fr;
    }

    #contact .row {
        padding: 2rem 1rem;
    }

}