body {
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
    background-color: #f4f4f4;
}

table {
    width: 100%;
}

.inner-table {
    width: 80%;
    margin: 0 auto;
}

#header {
    background-color: #60aed5;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

.title {
    font-size: 36px;
    font-weight: bold;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

#intro,
#skills,
#projects,
#experience,
#contact {
    padding: 2rem 0;
    background-color: #ffffff;
    margin: 1rem 0;
    border-radius: 8px;
}

.contact {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: auto;
}
.contact-form{
    padding: 10px;
}

.intro-title {
    font-size: 36px;
    font-weight: bold;
}

.intro-text {
    font-size: 20px;
    line-height: 1.6;
}

.skills-title,
.projects-title,
.experience-title,
.contact-title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.skills-list,
.projects-list,
.experience-text {
    font-size: 18px;
    line-height: 1.6;
}

.skills-image,
.projects-image {
    width: 40%;
}

.profile {
    width: 20%;
}

.project-link {
    text-decoration: none;
    color: #60aed5;
}

.contact-label {
    font-size: 18px;
    padding: 1.5rem 5rem;
}

.submit-button {
    padding: 0.5rem 1rem;
    background-color: #60aed5;
    color: white;
    border: none;
    cursor: pointer;
}


#footer {
    background-color: #60aed5;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

.footer-link {
    font-size: 18px;
}

.footer-note {
    font-size: 16px;
}